body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 24px;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

#results {
    margin-top: 20px;
    width: 320px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow-y: auto;
    max-height: 300px;
    position: relative;
}

#results span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

#results:empty {
    display: none;
}

.path-preview {
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display: none;
    max-width: 250px;
    font-size: 12px;

    white-space: pre-wrap;
    word-break: break-all;
    overflow-wrap: break-word;
}

.copy-text {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 12px;
    text-align: center;
}
